.react-hot-toast .custom-toast {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999; /* Ensure the toaster is on top */
}

.react-hot-toast .custom-toast-success {
    background-color: #4CAF50;
}

.react-hot-toast .custom-toast-error {
    background-color: #f44336;
}
