.blogimg1 {
	background-image: linear-gradient(
			360deg,
			rgb(25 44 87 / 69%) 100.96%,
			rgba(25, 44, 87, 0.774) 44.82%,
			rgba(25, 44, 87, 0.962) 58.93%,
			rgba(25, 44, 87, 0.841) 65.32%,
			rgba(25, 44, 87, 0.843) 84.12%,
			rgba(110, 233, 108, 0) 92.51%
		),
		url("../../assets/images/blog1.png");
	background-position: center;
	background-size: cover;
	margin-top: 100px;
}

.myshadow {
	box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.01),
		/* Top shadow */ 0px 4px 6px rgba(0, 0, 0, 0.01),
		/* Bottom shadow */ -4px 0px 6px rgba(0, 0, 0, 0.01),
		/* Left shadow */ 4px 0px 6px rgba(0, 0, 0, 0.01),
		/* Right shadow */ 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Additional shadow */
}
